#head{

    font-family:calibri light;
    letter-spacing:2px;
    font-size: x-large;
    color: royalblue    ;
}

#head-link{
    text-decoration: none;
}
#head-container {
border: 5px solid white
;  box-shadow: 5px 5px 5px 5px rgb(218, 214, 214) ;
border-radius: 15px;

}

#JC{
   font-family: calibri light ;  
   font-size:large;
}
#container{
    position: relative;
    width: 1000px;
    height: 1000px;
}
#box{
    position: absolute;
    background-color: royalblue;
    width: 100px;
    height: 100px;
    color: gold;
    
}
